@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

header {

	z-index: 1000;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}



body {
	padding: 0;
	margin: 0;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.font{
	font-family: 'Special Elite', cursive;
	color: white;
	font-size: 3em;

}

aside {
	background: #ED7D96;
	z-index: 1000;
	height: 78%;
	width: 20%;
	word-wrap: break-word;
	line-height: 1.3;
}

.span {
	line-height: 1.0;
}

span {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	word-break: break-all;
	line-height: 1.3;
}

span:hover {
	color: transparent;
	  	-webkit-background-clip: text;
	  	background-clip: text;
	  	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_xhhsT1cu5OMpgd_dzK3rKqMbO1hPFHxfRg&usqp=CAU');
	  	background-position: 50% 50%;
	  	background-repeat: no-repeat;
	  	background-size: cover;
}

footer {
	background: #D391F4;
	z-index: 1000;
	height: 10%;
}

.aside2 {
	background: yellow;
	z-index: 1000;
	height: 78%;
	width: 80%;
	float:right;
}

.aside3 {
	background: #ED7D96;
	z-index: 1000;
	height: 70%;
	width: 10%;
	float:right;
	right: 50%
}

.brd {
  border: 3px solid white; /* Параметры границы */
  background: black; /* Цвет фона */
	border-bottom: 3px;
}
